<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">Hello this is the new page</div>
  <form class="ui form" action="/blogs" method="post">
    <div class="field">
      <label for="">Title</label>
      <input type="text" name="blog[title]" id="" placeholder="name" />
    </div>
    <div class="field">
      <label for="">Image</label>
      <input type="text" name="blog[image]" id="" placeholder="image url" />
    </div>
    <div class="field">
      <label for="">Blog content</label>
      <textarea name="blog[body]" id="" cols="30" rows="10"></textarea>
    </div>
    <input class="ui button" type="submit" value="submit" />
  </form>
</div>

<% include ./partials/footer %>
